* {
    margin: 0;
    font-family: sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url('./images/pexels-miriam-espacio-110854.jpg');
    background-size: cover;
}

img {
    max-width: 100%;
    
}