h1 {
  color: white;
  /* font-size: 50px; */
  background-color: grey;
  border-radius: 30px;

}

h2 {
  display: flex;
  justify-content: center;
}


.text-center {
  text-align: center;

}

.column-gap {
  column-gap: 25px;
}



.row,
.column {
  display: flex;
}

.row {
  flex-direction: column;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Custom Styles */

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header {
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #021c35;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  text-align: center;
}

/* .header nav ul {
  display: flex;
  align-items: center;
} */

.header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 3%;
}

main .container.large {
  grid-column: 1 / 3;
}

.container {
  display: flex;
  flex-direction: column;
}

.col {
  display: flex;
  flex-direction: row;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  
  width: 100%
}

.about p {
  height: 150px !important;
}

.about img{
  width: 25%;

}



/* .container img {
    display: flex;
    margin: 0 auto;
    width: 900px;
  }

.photo-large, img {
    width: 1200px;
  }  */



.main-header {
  /* margin-bottom: 20px;
    padding: 50px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff; */
}

@media screen and (min-width: 400px) {
  header {
      padding: 5px 25%;
  }
}

@media (max-width: 630px) {
  main{
      flex-direction: column; /*overrides previous commands, turns rows to colums  */
  }
}